.button {
  display: block;
  max-width: 200px;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid #363636;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}
.button:hover {
  box-shadow: 2px 2px 5px black;
}
.light {
  color: #363636;
  background-color: #ffbe42;
}
.dark {
  color: #fefdf5;
  background-color: #cc5d00;
}
