.button {
  display: block;
  max-width: 200px;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid var(--black);
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}
.button:hover {
  box-shadow: 2px 2px 5px var(--black);
}
.light {
  color: var(--black);
  background-color: var(--orange-light);
}
.dark {
  color: var(--white);
  background-color: var(--orange-dark);
}
