@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

<<<<<<< HEAD
=======
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

:root {
  --white: #FEFDF5;
  --gray-light: #C4C4C4;
  --gray-dark: #5C5C5C;
  --black: #363636;
  --orange-light: #FFBE42;
  --orange-med: #F69004;
  --orange-dark: #CC5D00;
  --golden: #F0B309;

  --header-height: 15vh;
}

html,
>>>>>>> 6ab9379... Connect /about to / with header links. Create Layout component to more easily include a header and footer on each page. Small horizontal overflow issue on Slide component with the introduction of this Layout.
body {
  margin: 0px;
  padding: 0px;
  background-color: #fefdf5;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
