.hexContainer {
  position: relative;
}
.hexImage {
  position: relative;
  min-width: 200px;
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  mask-image: url("../../../static/img/hex-light.svg");
  mask-size: 150px;
  mask-repeat: no-repeat;
  mask-position: center;
  z-index: 1;
}
.hexImageBg {
  z-index: 0;
  position: absolute;
  bottom: 0;
  width: 150px;
  height: 175px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.left {
  left: 15px;
}
.right {
  right: 15px;
}
.dark {
  background-image: url("../../../static/img/hex-dark.svg");
}
.light {
  background-image: url("../../../static/img/hex-light.svg");
}
.large {
  transform: scale(2);
}
