.introContainer {
  width: 70%;
  text-align: center;
  margin-bottom: 80px;
}
.infoBlockContainer {
  display: flex;
  width: 100%;
}
.infoBlock {
  padding: 40px 60px;
  text-align: center;
  width: 50%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.light {
  color: #363636;
  background-color: #ffbe42;
}
.dark {
  color: #fefdf5;
  background-color: #cc5d00;
}
@media only screen and (max-width: 600px) {
  .infoBlockContainer {
    display: block;
  }
  .infoBlock {
    width: 100%;
  }
}
