.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  background-color: #363636;
  color: #fefdf5;
}
.footerColumns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.copyright {
  display: flex;
  justify-content: space-around;
}
.sitemap_item {
  color: #fefdf5;
}
.socialMedia a {
  text-decoration: none;
  color: #fefdf5;
}

@media only screen and (max-width: 800px) {
  .footerColumns {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .copyright {
    text-align: center;
  }
}
