.infoBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 150px;
  width: 100%;
  text-align: center;
}
.dark {
  color: var(--white);
  background-color: var(--orange-dark);
}
.light {
  color: var(--black);
  background-color: var(--orange-light);
}
