.testimonialsContainer {
  width: 70%;
  margin-top: 100px;
  text-align: center;
}
.testimonialContainer {
  margin-bottom: 100px;
  display: flex;
  align-content: center;
}
.testimonialContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hexContainer {
  position: relative;
}

.testimonialImage {
  position: relative;
  min-width: 200px;
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  mask-image: url("../../../static/img/hex-light.svg");
  mask-size: 150px;
  mask-repeat: no-repeat;
  mask-position: center;
  z-index: 1;
}
.testimonialImageBg {
  z-index: 0;
  position: absolute;
  bottom: -5px;
  left: 10px;
  width: 150px;
  height: 175px;
  background-image: url("../../../static/img/hex-light.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.left {
  order: 0;
}
.right {
  order: 3;
}
.bgright {
  background-image: url("../../../static/img/hex-dark.svg");
}

@media only screen and (max-width: 800px) {
  .testimonialContainer {
    flex-direction: column;
  }

  .right {
    order: 0;
  }

  .testimonialImageBg {
    left: 50px;
  }
}
