*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --white: #FEFDF5;
  --gray-light: #C4C4C4;
  --gray-dark: #5C5C5C;
  --black: #363636;
  --orange-light: #FFBE42;
  --orange-med: #F69004;
  --orange-dark: #CC5D00;
  --golden: #F0B309;
}